//components

$lightRed:rgb(245, 106, 106);
$lightGreen:rgb(161, 248, 134);
$inputHover:rgb(15, 51, 168);
$inputBorderColour:rgb(102, 102, 102);
$lightHavenBlue: #D0EDED;
$darkPink: rgb(248, 35, 81);


//mediqueries

$mobile-screen:480px;