
$header-height:80px;

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.header-footer-layout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:auto;
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: lightblue;
        height:80px;
    }
    main{
        min-height:800px;
        flex-grow: 1;
    }
    footer{
        background-color: rgb(53, 53, 53);
        height: 300px;
    }
}

.start-page-intro-container{
    min-height:500px;
}

.search-container{
    position: relative;
    right:0px;
}

.book-section{
    min-height:300px;

    .book-row{
        display: flex;
        flex-wrap: nowrap;

        .book-container{
            margin:10px 20px;
            box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);

            img{
                width:auto;
                height:250px;
            }
        }
    }
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-center{
    justify-content: center;
}

.center{
    align-items:center;
}

.flex-space-between{
    justify-content: space-between;
}

.header-icon{
    img{
        width:$header-height*0.9;
        height:$header-height*0.9;
    }
}

.hide-visible{
    visibility: hidden;
}

.pageinfo-container{
    background-color: white;
    width:800px;
    min-height:300px;
    margin: 20px 0px;
    padding:20px 30px;
}

.book-collection{
    display: flex;
    flex-flow:row wrap;
    border:1px dashed black;
    width:100%;
    min-height:500px;
    padding:50px;

    .book{
        margin:50px 50px;
        img{
            width:180px;
            height:auto;
            box-shadow: 5px 5px 10px lightgrey;

        }
    }
}

.mainpage-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height:800px;
}

.mainpage-background-lightcyan{
    background-color: #D1FCFF;
}

.form-style{
    ul{
        list-style-type: none;
        li{
            margin:30px auto;
            .label-input-column{
                label ~ *{
                    display: block;
                }
                input[type="text"]{
                    height:30px;
                }
            }
        }
    }
}

