.popup-container {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(10, 10, 10, 0.3); }
  .popup-container div.message-box {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    top: 250px;
    width: 700px;
    height: 350px;
    background-color: white;
    z-index: 3;
    box-shadow: 5px 5px 10px grey;
    border-radius: 10px;
    padding: 30px; }

.link-button {
  display: inline-block;
  border-radius: 25px;
  border: none;
  padding: 10px 20px;
  margin: 10px 0px;
  color: white;
  font-size: 1.4em; }
  .link-button:link {
    text-decoration: none; }

.search-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  background-color: orange;
  height: 100%;
  min-height: 100px;
  max-height: 200px; }
  .search-container .component-searchbar {
    position: relative;
    height: 40px;
    width: 300px;
    border-radius: 25px;
    border: 2px solid #666666;
    padding: 0px 15px;
    font-size: 1em;
    z-index: 2; }
    .search-container .component-searchbar + .search-btn {
      position: relative;
      height: 40px;
      padding: 5px 10px;
      border: 2px solid #666666;
      border-radius: 25px;
      background-color: #a1f886;
      font-size: 1em;
      z-index: 2; }
      .search-container .component-searchbar + .search-btn:hover {
        cursor: pointer; }

@media screen and (min-width: 480px) {
  .component-searchbar {
    font-size: 1.5em; }
    .component-searchbar + .search-btn {
      font-size: 1.5em; }

  .link-button {
    font-size: 2em; } }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.header-footer-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto; }
  .header-footer-layout header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightblue;
    height: 80px; }
  .header-footer-layout main {
    min-height: 800px;
    flex-grow: 1; }
  .header-footer-layout footer {
    background-color: #353535;
    height: 300px; }

.start-page-intro-container {
  min-height: 500px; }

.search-container {
  position: relative;
  right: 0px; }

.book-section {
  min-height: 300px; }
  .book-section .book-row {
    display: flex;
    flex-wrap: nowrap; }

.flex-row {
  display: flex;
  flex-direction: row; }

.flex-column {
  display: flex;
  flex-direction: column; }

.flex-center {
  justify-content: center; }

.center {
  align-items: center; }

.flex-space-between {
  justify-content: space-between; }

.header-icon img {
  width: 72px;
  height: 72px; }

.hide-visible {
  visibility: hidden; }

.hidden {
  display: none; }

.pageinfo-container {
  background-color: white;
  width: 800px;
  min-height: 300px;
  margin: 20px 0px;
  padding: 20px 30px; }

.book-collection {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  min-height: 500px; }
  .book-collection .book {
    margin: 10px 10px; }
    .book-collection .book img {
      width: 220px;
      height: auto;
      box-shadow: 5px 5px 10px lightgrey; }
  .book-collection .toggle-border {
    border: 1px dashed black; }

.mainpage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 800px; }

.mainpage-background-lightcyan {
  background-color: #D1FCFF; }

.form-style ul li {
  margin: 30px auto;
  list-style-type: none; }
  .form-style ul li input, .form-style ul li select, .form-style ul li textarea, .form-style ul li button {
    border: 2px solid #666666;
    font-size: 1.3em;
    border-radius: 10px;
    height: 35px;
    width: 300px;
    background-color: white;
    padding: 0px 10px; }
  .form-style ul li input[type="submit"], .form-style ul li button {
    border: none;
    background-color: #f7436a;
    box-shadow: 3px 3px 6px #999999;
    color: white;
    height: 50px;
    min-width: 100px;
    width: 200px; }
    .form-style ul li input[type="submit"]:hover, .form-style ul li button:hover {
      cursor: pointer; }
    .form-style ul li input[type="submit"]:disabled, .form-style ul li button:disabled {
      background-color: lightgray; }
  .form-style ul li input[type="radio"], .form-style ul li input[type="checkbox"] {
    width: 20px; }
    .form-style ul li input[type="radio"] + label, .form-style ul li input[type="checkbox"] + label {
      padding-left: 15px;
      font-size: 1.4em; }
  .form-style ul li .input-row {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .form-style ul li .label-input-column label {
    font-size: 1.6em; }
  .form-style ul li .label-input-column label ~ * {
    display: block; }
  .form-style ul li .label-input-column input:hover, .form-style ul li .label-input-column select:hover {
    border-color: #0f33a8; }
  .form-style ul li .label-input-column textarea {
    width: 300px;
    resize: vertical; }
  .form-style ul li .input-field-errormessage {
    padding: 5px 15px;
    margin: 1px 0px;
    background-color: #f56a6a;
    font-size: 1.2em;
    border-radius: 10px;
    max-width: 300px; }
  .form-style ul li .tab-option {
    display: none; }
    .form-style ul li .tab-option + label {
      color: #223bca;
      cursor: pointer;
      font-size: 1.8em;
      margin: 5px 30px; }
    .form-style ul li .tab-option:checked + label {
      text-decoration: underline; }
  .form-style ul li .file-cover {
    display: none;
    border: none; }
    .form-style ul li .file-cover::-webkit-file-upload-button {
      visibility: hidden; }
    .form-style ul li .file-cover + label {
      position: relative;
      cursor: pointer; }
      .form-style ul li .file-cover + label > * {
        position: relative; }
      .form-style ul li .file-cover + label > img {
        min-width: 300px;
        max-width: 300px;
        min-height: 300px;
        border: 2px dashed #3a3a3a;
        background-color: lightgray; }
        .form-style ul li .file-cover + label > img + span {
          position: absolute;
          display: flex;
          bottom: 160px;
          font-size: 1.9em;
          text-align: center; }
        .form-style ul li .file-cover + label > img.error {
          background-color: #f56a6a; }
  .form-style ul li .multiple-values-option {
    display: flex;
    flex-wrap: wrap;
    margin: 10px; }
    .form-style ul li .multiple-values-option .option-value {
      border: 1px solid black;
      border-radius: 5px;
      padding: 5px;
      margin-left: 1px;
      margin-right: 8px;
      line-height: 40px;
      width: 100;
      background-color: white; }
      .form-style ul li .multiple-values-option .option-value:hover {
        cursor: pointer;
        color: #f56a6a;
        border-color: #f56a6a; }
  .form-style ul li .add-button {
    position: relative;
    color: #3b3b3b;
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px; }
    .form-style ul li .add-button:hover {
      cursor: pointer;
      color: #0f33a8;
      border-color: #0f33a8; }
  .form-style ul li .main-message-container .message-text {
    padding: 20px;
    font-size: 1.5em; }
  .form-style ul li .main-message-container .color-green {
    background-color: #a1f886; }

.background-pink {
  background-color: #f7436a; }

span.red-text {
  font-weight: bold;
  color: #f14a2d; }

@media screen and (min-width: 480px) {
  .book-collection {
    padding: 50px; }
    .book-collection .book {
      margin: 30px 30px; } }

/*# sourceMappingURL=style.css.map */
