@import './_partials/variables.scss';
@import './popupwindow.scss';
@import './components.scss';
@import './layouts.scss';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Merriweather:wght@300&family=Plus+Jakarta+Sans:wght@300&family=Poppins:wght@300&family=Public+Sans:wght@200&family=Quicksand&family=Source+Sans+Pro&display=swap');

/*
font-family: 'DM Sans', sans-serif;
font-family: 'Plus Jakarta Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Public Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Source Sans Pro', sans-serif;

*/

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

h1, h2, h3{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

p{
    font-family: 'Source Sans Pro', 'Arial', sans-serif;
}

input, a, label{
    font-family: 'DM Sans', 'Verdana', 'Arial', sans-serif;
}

.start-page-intro-container{
    min-height:500px;
}

.search-container{
    position: relative;
    right:0px;
}

.book-section{
    min-height:300px;

    .book-row{
        display: flex;
        flex-wrap: nowrap;

    }
}

// .book-container{
//     margin:10px 20px;
    
//     img{
//         width:200px;
//         height:auto;
//         box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
//     }
// }

.hide-visible{
    visibility: hidden;
}

.hidden{
    display:none;
}

.pageinfo-container{
    background-color: white;
    width:800px;
    min-height:300px;
    margin: 20px 0px;
    padding:20px 30px;
}

.mainpage-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height:800px;
}

.mainpage-background-lightcyan{
    background-color: #D1FCFF;
}

$inputWidth:300px;
$inputHeight:35px;
.form-style{
    ul{
        li{
            margin:30px auto;
            list-style-type: none;
            input, select, textarea, button{
                border:2px solid $inputBorderColour;
                font-size: 1.3em;
                border-radius: 10px;
                height:$inputHeight;
                width:$inputWidth;
                background-color: white;
                        padding:0px 10px;
            }
            textarea{
                min-height:200px;
            }
            input[type="submit"], button{
                border:none;
                background-color:rgb(247, 67, 106);
                box-shadow: 3px 3px 6px rgb(153, 153, 153);
                color:white;
                height:50px;
                min-width:100px;
                width:200px;
                &:hover{
                    cursor: pointer;
                }
                &:disabled{
                    background-color: lightgray;
                }
            }
            input[type="radio"], input[type="checkbox"]{
                width:20px;
                & + label{
                    padding-left:15px;
                    font-size: 1.4em;
                }
            }
            .input-row{
                display: flex;
                flex-direction: row;
                align-items: center;
            }
            .label-input-column{
                label{
                    font-size: 1.6em;
                }
                label ~ *{
                    display: block;
                }
                input, select{
                    &:hover{
                        border-color: $inputHover;
                    }
                }
                textarea{
                    width:$inputWidth;
                    resize:vertical;
                }
            }
            .input-field-errormessage{
                padding:5px 15px;
                margin:1px 0px;
                background-color: $lightRed;
                font-size: 1.2em;
                border-radius: 10px;
                max-width:$inputWidth;
            }
            .tab-option{
                display: none;
                & + label{
                    color:rgb(34, 59, 202);
                    cursor: pointer;
                    font-size: 1.8em;
                    margin:5px 30px;
                }
                &:checked + label{
                    text-decoration: underline;
                }
            }
            .file-cover{
                display: none;
                border: none;
                &::-webkit-file-upload-button{
                    visibility: hidden;
                }
                & + label{
                    position: relative;
                    cursor: pointer;
                    & > *{
                        position: relative;
                    }
                    & > img{
                        min-width:$inputWidth;
                        max-width:$inputWidth;
                        min-height:300px;
                        border:2px dashed rgb(58, 58, 58);
                        background-color: lightgray;
                        & + span{
                            position: absolute;
                            display: flex;
                            bottom:120px;
                            font-size: 1.9em;
                            text-align: center;
                        }
    
                        &.error{
                            background-color: $lightRed;
                        }
                    }
                } 
            }
            .multiple-values-option{
                display: flex;
                flex-wrap:wrap;
                margin:10px;
                .option-value{
                    border:1px solid black;
                    border-radius: 5px;
                    padding:5px;
                    margin-left:1px;
                    margin-right:8px;
                    line-height:40px;
                    width:100;
                    background-color: white;
                    &:hover{
                        cursor: pointer;
                        color:$lightRed;
                        border-color: $lightRed;
                    }
                    
        
                }
            }
            .add-button{
                position: relative;
                color:rgb(59, 59, 59);
                background-color: white;
                border-radius: 50%;
                width:35px;
                height:35px;
                &:hover{
                    cursor: pointer;
                    color:$inputHover;
                    border-color:$inputHover;
                }
               
            }
    
            .main-message-container{
                .message-text{
                    padding:20px;
                    font-size: 1.5em;
                }
    
                .color-green{
                    background-color: $lightGreen;
                }
            }
        }
    }
}

span.red-text{
    font-weight: bold;
    color:rgb(241, 74, 45);
}

.forecolour-white{
    color:white;
}