.popup-container {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(10, 10, 10, 0.3);
  top: 0px; }
  .popup-container div.message-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    top: 150px;
    width: 700px;
    height: 350px;
    background-color: white;
    z-index: 3;
    box-shadow: 5px 5px 10px grey;
    border-radius: 10px;
    padding: 30px; }
    .popup-container div.message-box .content {
      display: flex;
      flex-direction: column; }
    .popup-container div.message-box .links .close {
      background-color: white;
      border: none;
      border-radius: none;
      text-decoration: none;
      color: #f82351;
      cursor: pointer; }
      .popup-container div.message-box .links .close:hover {
        text-decoration: underline; }

.search-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  background-color: orange;
  height: 100%;
  min-height: 100px;
  max-height: 200px;
  align-self: flex-end; }
  .search-container .component-searchbar {
    position: relative;
    height: 40px;
    width: 300px;
    border-radius: 25px;
    border: 2px solid #666666;
    padding: 0px 15px;
    font-size: 1em;
    z-index: 2; }
    .search-container .component-searchbar + .search-btn {
      position: relative;
      padding: 5px 10px;
      border: 2px solid #666666;
      border-radius: 25px;
      background-color: #a1f886;
      font-size: 1em;
      z-index: 2; }
      .search-container .component-searchbar + .search-btn i {
        display: inline-block;
        height: 25px;
        width: 25px;
        background-image: url("../img/icons/search-icon.svg");
        background-repeat: no-repeat;
        background-size: contain; }
      .search-container .component-searchbar + .search-btn:hover {
        cursor: pointer;
        background-color: #7ffd59; }
      .search-container .component-searchbar + .search-btn:active {
        background-color: #d0f8c4; }

@media screen and (min-width: 480px) {
  .component-searchbar {
    font-size: 1.5em; }
    .component-searchbar + .search-btn {
      font-size: 1.5em; }

  .link-button {
    font-size: 2em; } }
.header-login-container {
  display: flex; }
  .header-login-container .profile-content a {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .header-login-container .profile-content a span {
      margin: 0px 10px; }
  .header-login-container .avatar-icon {
    border-radius: 30px;
    border: 1px solid #9e9e9e;
    width: 60px;
    height: 60px; }
  .header-login-container a {
    font-size: 1.4em;
    color: #1f1f1f; }
    .header-login-container a:link {
      text-decoration: none; }
    .header-login-container a:hover {
      text-decoration: underline; }

.component-button {
  border: none;
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 1.3em; }

.link-button {
  border: none;
  margin: 10px 0px;
  font-size: 1.2em;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px 15px; }

.score-bar {
  position: relative;
  height: 40px;
  width: 200px; }
  .score-bar .score {
    position: absolute;
    width: 200px;
    height: 40px;
    background-size: 200px 40px; }
    .score-bar .score.empty {
      background-image: url("../img/icons/star-empty.svg"); }
    .score-bar .score.full {
      background-image: url("../img/icons/star-full.svg"); }

.background-pink {
  background-color: #f82351;
  color: white; }
  .background-pink:hover {
    cursor: pointer;
    background-color: #eb0839; }
  .background-pink:active {
    background-color: #fa5e80; }
  .background-pink:disabled {
    background-color: #bdbdbd; }

.book-collection {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  min-height: 550px; }
  .book-collection .book {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 220px;
    min-height: 420px;
    margin: 10px 10px;
    padding: 0px 10px; }
    .book-collection .book a {
      position: absolute;
      display: inline-block;
      max-width: 210px;
      height: auto;
      max-height: 340px;
      transform-origin: center;
      transition-property: max-width transform z-index top left;
      transition-duration: 0.3s;
      transition-delay: 0.2s;
      color: black;
      left: 0px;
      top: 0px;
      z-index: 4; }
      .book-collection .book a img {
        position: relative;
        width: 100%;
        height: auto;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        z-index: 2;
        transition-duration: 0.3s;
        transition-delay: 0.2s; }
      .book-collection .book a:hover {
        max-width: 350px;
        transform: rotate(-5deg);
        z-index: 5;
        top: -30px;
        left: -60px; }
        .book-collection .book a:hover > img {
          box-shadow: -15px 55px 10px rgba(0, 0, 0, 0.3); }
        .book-collection .book a:hover > .book-message {
          display: block;
          animation-name: bookinfo-animate;
          animation-delay: 0.6s;
          animation-fill-mode: forwards; }
      .book-collection .book a .book-message {
        text-align: center;
        line-height: 2em;
        visibility: hidden;
        position: absolute;
        background-color: #f18f9f;
        min-height: 70px;
        width: 100%;
        top: 200px;
        font-size: 2em; }
        .book-collection .book a .book-message.red-color {
          background-color: #f18f9f; }
        .book-collection .book a .book-message.yellow-color {
          background-color: #f0e98c; }
@keyframes bookinfo-animate {
  0% {
    visibility: hidden; }
  100% {
    z-index: 6;
    visibility: visible; } }
    .book-collection .book p.title {
      font-weight: bold;
      font-size: 1.3em;
      width: 220px;
      text-align: center; }
    .book-collection .book p.authors {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 220px;
      text-align: center; }
  .book-collection.toggle-border {
    border: 1px dashed black; }

@media screen and (min-width: 480px) {
  .book-collection {
    padding: 60px 100px; }
    .book-collection .book {
      margin: 30px 30px; } }
.header-footer-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto; }
  .header-footer-layout header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 80px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 2; }
    .header-footer-layout header .header-icon a img {
      height: 64px; }
  .header-footer-layout main {
    min-height: 800px;
    flex-grow: 1; }
  .header-footer-layout footer {
    padding: 30px;
    background-color: #353535;
    min-height: 300px; }
    .header-footer-layout footer h3 {
      color: #acacac;
      text-align: center; }
    .header-footer-layout footer ul li {
      list-style-type: none; }
    .header-footer-layout footer .footer-row {
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .header-footer-layout footer .footer-row .footer-container .contactus-form {
        display: flex;
        flex-direction: column;
        border: 2px dashed #6e6e6e;
        border-radius: 15px;
        padding: 20px; }
        .header-footer-layout footer .footer-row .footer-container .contactus-form .form-container {
          display: flex;
          flex-direction: column; }
          .header-footer-layout footer .footer-row .footer-container .contactus-form .form-container ul li {
            margin: 15px 0px; }
            .header-footer-layout footer .footer-row .footer-container .contactus-form .form-container ul li > * {
              display: block; }
        .header-footer-layout footer .footer-row .footer-container .contactus-form input[type="text"], .header-footer-layout footer .footer-row .footer-container .contactus-form textarea {
          border: 1px solid #525252;
          border-radius: 10px;
          width: 100%;
          max-width: 250px;
          height: 40px;
          background-color: #424242;
          color: #b9b9b9;
          font-size: 1.2em; }
        .header-footer-layout footer .footer-row .footer-container .contactus-form textarea {
          height: 200px;
          resize: none;
          padding: 10px; }
        .header-footer-layout footer .footer-row .footer-container .contactus-form label {
          color: #acacac; }
        .header-footer-layout footer .footer-row .footer-container .contactus-form input[type="button"] {
          max-width: 100px;
          width: 100%;
          height: 30px;
          border-radius: 10px;
          border: none;
          background-color: #424242;
          color: #acacac; }
    .header-footer-layout footer .icon-row li {
      margin: 20px; }
      .header-footer-layout footer .icon-row li > img {
        width: 50px;
        height: 50px; }

.flex-row {
  display: flex;
  flex-direction: row; }

.flex-column {
  display: flex;
  flex-direction: column; }

.flex-center {
  justify-content: center; }

.center {
  align-items: center; }

.flex-space-between {
  justify-content: space-between; }

.flex-alignend {
  justify-content: flex-end; }

@media screen and (min-width: 768px) {
  .header-footer-layout footer > * {
    display: inline; }
  .header-footer-layout footer .footer-row {
    flex-direction: row; }
    .header-footer-layout footer .footer-row .footer-container .contactus-form {
      flex-direction: row; }
      .header-footer-layout footer .footer-row .footer-container .contactus-form .form-container {
        margin: 10px; }
  .header-footer-layout footer .icon-row li {
    display: inline-block; } }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.start-page-intro-container {
  min-height: 500px; }

.search-container {
  position: relative;
  right: 0px; }

.book-section {
  min-height: 300px; }
  .book-section .book-row {
    display: flex;
    flex-wrap: nowrap; }

.hide-visible {
  visibility: hidden; }

.hidden {
  display: none; }

.pageinfo-container {
  background-color: white;
  width: 800px;
  min-height: 300px;
  margin: 20px 0px;
  padding: 20px 30px; }

.mainpage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 800px; }

.mainpage-background-lightcyan {
  background-color: #D1FCFF; }

.form-style ul li {
  margin: 30px auto;
  list-style-type: none; }
  .form-style ul li input, .form-style ul li select, .form-style ul li textarea, .form-style ul li button {
    border: 2px solid #666666;
    font-size: 1.3em;
    border-radius: 10px;
    height: 35px;
    width: 300px;
    background-color: white;
    padding: 0px 10px; }
  .form-style ul li input[type="submit"], .form-style ul li button {
    border: none;
    background-color: #f7436a;
    box-shadow: 3px 3px 6px #999999;
    color: white;
    height: 50px;
    min-width: 100px;
    width: 200px; }
    .form-style ul li input[type="submit"]:hover, .form-style ul li button:hover {
      cursor: pointer; }
    .form-style ul li input[type="submit"]:disabled, .form-style ul li button:disabled {
      background-color: lightgray; }
  .form-style ul li input[type="radio"], .form-style ul li input[type="checkbox"] {
    width: 20px; }
    .form-style ul li input[type="radio"] + label, .form-style ul li input[type="checkbox"] + label {
      padding-left: 15px;
      font-size: 1.4em; }
  .form-style ul li .input-row {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .form-style ul li .label-input-column label {
    font-size: 1.6em; }
  .form-style ul li .label-input-column label ~ * {
    display: block; }
  .form-style ul li .label-input-column input:hover, .form-style ul li .label-input-column select:hover {
    border-color: #0f33a8; }
  .form-style ul li .label-input-column textarea {
    width: 300px;
    resize: vertical; }
  .form-style ul li .input-field-errormessage {
    padding: 5px 15px;
    margin: 1px 0px;
    background-color: #f56a6a;
    font-size: 1.2em;
    border-radius: 10px;
    max-width: 300px; }
  .form-style ul li .tab-option {
    display: none; }
    .form-style ul li .tab-option + label {
      color: #223bca;
      cursor: pointer;
      font-size: 1.8em;
      margin: 5px 30px; }
    .form-style ul li .tab-option:checked + label {
      text-decoration: underline; }
  .form-style ul li .file-cover {
    display: none;
    border: none; }
    .form-style ul li .file-cover::-webkit-file-upload-button {
      visibility: hidden; }
    .form-style ul li .file-cover + label {
      position: relative;
      cursor: pointer; }
      .form-style ul li .file-cover + label > * {
        position: relative; }
      .form-style ul li .file-cover + label > img {
        min-width: 300px;
        max-width: 300px;
        min-height: 300px;
        border: 2px dashed #3a3a3a;
        background-color: lightgray; }
        .form-style ul li .file-cover + label > img + span {
          position: absolute;
          display: flex;
          bottom: 160px;
          font-size: 1.9em;
          text-align: center; }
        .form-style ul li .file-cover + label > img.error {
          background-color: #f56a6a; }
  .form-style ul li .multiple-values-option {
    display: flex;
    flex-wrap: wrap;
    margin: 10px; }
    .form-style ul li .multiple-values-option .option-value {
      border: 1px solid black;
      border-radius: 5px;
      padding: 5px;
      margin-left: 1px;
      margin-right: 8px;
      line-height: 40px;
      width: 100;
      background-color: white; }
      .form-style ul li .multiple-values-option .option-value:hover {
        cursor: pointer;
        color: #f56a6a;
        border-color: #f56a6a; }
  .form-style ul li .add-button {
    position: relative;
    color: #3b3b3b;
    background-color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px; }
    .form-style ul li .add-button:hover {
      cursor: pointer;
      color: #0f33a8;
      border-color: #0f33a8; }
  .form-style ul li .main-message-container .message-text {
    padding: 20px;
    font-size: 1.5em; }
  .form-style ul li .main-message-container .color-green {
    background-color: #a1f886; }

span.red-text {
  font-weight: bold;
  color: #f14a2d; }

/*# sourceMappingURL=style.css.map */
